// import css
$primary-yellow: #f9d71c;

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 64px;
  padding: 0px 64px;

  .logo {
    width: 400px;
  }

  .carousel {
    text-align: left;

    & > div {
      height: 300px;
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      gap: 1rem;

      font-size: 1rem;
    }

    h1 {
      font-size: 48px;
      font-weight: 800;
    }

    p {
      line-height: 200%;
    }

    .select {
      display: flex;
      gap: 1rem;
      justify-content: flex-end;

      span {
        cursor: pointer;
        height: 0.7rem;
        width: 48px;
        border-radius: 3px;
        background-color: #d6d5d2;
        transition: background-color 0.3s ease;

        &.selected {
          background-color: $primary-yellow;
        }
      }
    }
  }
}
