<div class="content">
  <div class="mission">
    <div>
      <h3>OUR MISSION</h3>
      <p>
        StuDev PH is dedicated to nurturing a thriving and supportive community
        for student developers in the Philippines. Our mission is to offer a
        wide range of educational programs, workshops, and networking
        opportunities that equip our members with the skills and knowledge
        needed to excel in the ever-changing world of technology and software
        development. By empowering students to achieve their aspirations and
        make positive contributions to society through technological
        innovations, we aim to create a bright future for the tech industry.
      </p>
      <button class="btn blue-s"></button>
    </div>

    <div><img src="../../../assets/jpeg/mission.png" alt="" /></div>
  </div>

  <div class="vision">
    <div><img src="../../../assets/jpeg/vision.png" alt="" /></div>
    <div>
      <h3>OUR VSSION</h3>
      <p>
        The vision of the studevph community to create a thriving and inclusive
        environment where students with a passion for technology, software
        development, and innovation can come together to learn, collaborate, and
        grow. The ultimate goal is to empower student developers to unleash
        their full potential and become the next generation of leaders and
        innovators in the tech industry.
      </p>
      <button class="btn pink-s"></button>
    </div>
  </div>
</div>
