<div class="content">
  <div class="section">
    <h3>PARTICIPANTS ALL OVER THE PHILIPPINES</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec
      venenatis eros. Integer fermentum, elit eu porttitor blandit, mauris mi
      pellentesque dolor, Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Proin nec venenatis eros. Integer fermentum, elit eu porttitor
      blandit, mauris mi pellentesque dolor, Lorem ipsum dolor sit amet,
      consectetur adipiscing elit.
    </p>
  </div>
  <div><img [src]="flag" alt="flag" /></div>
</div>
